#include "resource.h"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "KDAR.exe.manifest"

IDR_MENUBAR MENU
BEGIN
	POPUP "&Menu"
	BEGIN
		MENUITEM "Usa&ge Info", ID_HELP_USAGE_INFO
		MENUITEM "A&bout", ID_HELP_ABOUT
		MENUITEM SEPARATOR
		MENUITEM "&Quit", ID_MENU_EXIT
		MENUITEM "About", ID_HELP_ABOUT
	END
END

IDD_ABOUT DIALOG DISCARDABLE 20, 20, 200, 90
CAPTION "About"
STYLE 0x80L | 0x00080000L | 0x00C00000L | 0x80000000L
FONT 10, "Arial"
BEGIN
	DEFPUSHBUTTON "&OK", 1, 80, 60, 40, 20
	CTEXT "Created 2021 by Baltazarus.\nUse this program to calculate your\nK/D or K/DA ratio in games.", IDC_STATIC_ABOUT, 10, 10, 190, 38
END
